/data/covid_data
/data/queries_trec_covid
/data/queries_msmarco_trec_dl_2020
/data/docs_trec_covid_10docs.pkl
/data/docs_trec_covid.pkl
/data/docs_trec_covid
/data/docs_msmarco_trec_dl_2020
/data/docs_trec_covid_100docs.pkl
